# Pandas fundamentals

**Credits**: Based on the [_Python Data Science Handbook_ by Jake VanderPlas](https://jakevdp.github.io/PythonDataScienceHandbook/)

## Series object

Pandas **Series** is a one-dimensional array of indexed data. It can be created from a list or array as follows

In [28]:
import numpy as np
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

*Series* wraps both a *sequence of values* and a *sequence of indices*. The values are simply a familiar NumPy array:

In [29]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The index is an array-like object of type `pd.Index`

In [30]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation.
However, as we will see, though, the Pandas Series is much more general and flexible than the one-dimensional NumPy array that it emulates

In [31]:
data[1]

0.5

In [32]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### Series as a generalized NumPy array

In [41]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['mau', 'medio', 'bom', 'cool'])
data

mau      0.25
medio    0.50
bom      0.75
cool     1.00
dtype: float64

In [46]:
data['medio']

0.5

In [45]:
# Será que funciona? 
data['medio':'cool']

medio    0.50
bom      0.75
cool     1.00
dtype: float64

### Series as specialized dictionary

In [47]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [48]:
population['California']

38332521

# Reading and writing data 
Let's create a DataFrame from scratch...

In [10]:
import pandas as pd
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

The **Index** of this DataFrame was given to us on creation as the numbers 0-3, but we could also create our own when we initialize the DataFrame. 

Let's have customer names as our index:

In [11]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [12]:
purchases["apples"]

June      3
Robert    2
Lily      0
David     1
Name: apples, dtype: int64

In [14]:
# We can **loc**ate a customer's order by using their name:
purchases.loc["Robert"]

apples     2
oranges    3
Name: Robert, dtype: int64

### Writing to CSV, JSON and SQL files

It’s quite simple to save and load data from various file formats into a DataFrame.

In [24]:
purchases.to_csv('dados/purchases.csv')

In [27]:
purchases.to_json('dados/purchases.json')

If you’re working with data from a SQL database you need to first establish a connection using an appropriate Python library, then pass a query to pandas. Here we'll use SQLite to demonstrate.

In [26]:
import sqlite3
con = sqlite3.connect("dados/purchases.sqlite3")
purchases.to_sql('purchases', con)

### Reading from CSV files

In [20]:
df = pd.read_csv('dados/purchases.csv')
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

CSVs don't have indexes like our DataFrames, so all we need to do is just designate the `index_col` when reading:

In [21]:
df = pd.read_csv('dados/purchases.csv', index_col=0)
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

If you have a JSON file — which is essentially a stored Python `dict` — pandas can read this just as easily:

### Reading data from JSON

If you have a JSON file — which is essentially a stored Python `dict` — pandas can read this just as easily:

In [23]:
df = pd.read_json('dados/purchases.json')
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

### Reading data from a SQL database

In [28]:
import sqlite3
con = sqlite3.connect("dados/purchases.sqlite3")
df = pd.read_sql_query("SELECT * FROM purchases", con)
df

    index  apples  oranges
0    June       3        0
1  Robert       2        3
2    Lily       0        7
3   David       1        2